<form class="form" id="user-edit-form">
    <div class="form-group">
        <div class="form-title title">
            <i class="number-title"><b>1</b></i>
            <h5>Особисті дані</h5>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="text" class="input" name="first_name" placeholder="*Ваше ім'я" [value]="user.name">
            </div>
            <div class="col-md-6">
                <input type="text" class="input" name="last_name" placeholder="*Ваше прізвище" [value]="user.surname">
            </div>
        </div>
        <input class="input inputmask" name="phone" type="text" inputmode="numeric" placeholder="*Ваш номер телефону"
        [value]="user.tel">
        <input type="email" name="email" class="input" placeholder="*Ваш емейл" [value]="user.email">
    </div>
    <div class="cabinet_address-buttons">
        <button class="save-btn" type="button" (click)="openSave()">Зберегти зміни</button>
    </div>
</form>
<app-save-popup [show]="saveModal" (hide)="openSave()"></app-save-popup>